body {
  background-color: black;
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 10;
  transition: stroke 200ms;
}

.NODE {
  stroke-width: 6;
}

.NodeCircle {
  fill: rgb(0, 148, 185);
}

circle.NodeCircle {
  transition: fill 200ms;
}

.visited circle.NodeCircle {
  fill: rgb(255, 225, 0);
}

.NODE.visited {
  fill: none;
  stroke: rgb(255, 179, 0);
}

.NODE.visited text {
  /* Add styles for the text when its parent node has the class '.visited' */
  stroke: none;
  fill: black; /* Change the text color when visited */
  transition: fill 400ms;
}

.keepHL.highlighted {
  stroke: red;
}

.keepHL {
  stroke: rgb(102, 0, 255);
}

.keepHL.FinalPath {
  stroke: rgb(140, 255, 0);
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: gray;
  border: 5px solid black;
}

p#current {
  width: fit-content;
  height: fit-content;
  padding: 15px;
  font-size: 70px;
  color: white;
  font-family: Arial;
  margin: 0;
}

p#AlgorithmLabel {
  color: white;
  font-size: 100px;
  font-weight: 700;
  font-family: Arial;
  padding: 0;
  margin: 0;
  margin-left: 50px;
}

div#labelContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 50px;
  right: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
